
.bg-blue{
    -fx-background-color: blue;
}
.bg-red{
    -fx-background-color: red;
}
.bg-green{
    -fx-background-color: green;
}
.bg-yellow{
    -fx-background-color: yellow;
}
.bg-black{
    -fx-background-color: black;
}
.bg-orange{
    -fx-background-color: orange;
}
.bg-pink{
    -fx-background-color: pink;
}
.bg-white{
    -fx-background-color: white;
}
.bg-transparent{
    -fx-background-color: transparent;
}
.bg-brown{
    -fx-background-color: #8D5E3D;
}
.font-Georgia{
    -fx-font-family: Georgia, serif; 
}
.font-Arial{
    -fx-font-family: Arial; 
}
.font-Helvetica{
    -fx-font-family: Helvetica; 
}
.font-Monaco{
    -fx-font-family: Monaco; 
}
.font-Tahoma{
    -fx-font-family: Tahoma; 
}
.font-sans-serif{
    -fx-font-family: sans-serif;
}
.font-serif{
    -fx-font-family: serif;
}
.Button-transparent{
    -fx-background-color: transparent;
}
.text-5px{
    -fx-font-size: 5px;
}
.text-10px{

    -fx-font-size: 10px;

}
.text-15px{

    -fx-font-size: 15px;
}
.text-20px{
    -fx-font-size: 20px;
}
.text-25px{

    -fx-font-size: 15px;
}
.text-30px{

    -fx-font-size: 15px;
}
.btn-Xsm-Xs{
    
    -fx-pref-width: 20px;
}
.btn-sm-XS{
    
    -fx-pref-width: 50px;
}
.btn-sm{
    
    -fx-pref-width: 80px;
}
.btn-lg{
    
    -fx-pref-width: 111px;
}
.btn-lg-xl{

    -fx-pref-width: 116px;
}
.sub-title{
    -fx-font-size: 25px;
}
.big-title{
    -fx-font-size: 30px;  
}
.padding-text{
    -fx-label-padding: 5px;
}
.table-opacity-100{
    -fx-opacity: 100%;
}
.table-opacity{
    -fx-opacity: 95%;
}
.table-opacity-85{

    -fx-opacity: 85%;
}
.table-opacity-75{

    -fx-opacity: 75%;
}
.table-opacity-60{

    -fx-opacity: 60%;
}
.table-opacity-50{

    -fx-opacity: 50%;
}
.table-opacity-40{

    -fx-opacity: 40%;
}
.table-opacity-20{

    -fx-opacity: 20%;
}
.font-style{
    -fx-font-family: Georgia, serif; 
}
.btn-rounded{
    -fx-border-radius: 50px;    
}
.bg-wBlue{
    -fx-background-color: #D3FFF8;
}
.border-white{
    -fx-border-color: white;
}
.btn-lg-xxl{
    -fx-pref-width: 170px;
}
.text-field-sm{
    -fx-pref-width: 150px;
    -fx-pref-height: 35px;
}
.text-field-lg{
    -fx-pref-width: 210px;
    -fx-pref-height: 35px;
}
.border-none{
    -fx-border-color: none;
}
.w-100px{
    -fx-pref-width: 100px;
}
.w-75px{
    -fx-pref-width: 75px;
}
.w-50px{
    -fx-pref-width: 50px;
}
.w-45{
    -fx-pref-width: 44px;
}
.w-25{
    -fx-pref-width: 25px;
}
.h-100px{
    -fx-pref-height: 100px;
}
.h-75px{
    -fx-pref-height: 75px;
}
.h-50px{
    -fx-pref-height: 50px;
}
.h-45{
    -fx-pref-height: 44px;
}
.h-25{
    -fx-pref-height: 25px;
}
.cursor-hand{
    -fx-cursor: hand;
}
.cursor-Closehand{
    -fx-cursor: CLOSED_HAND;
}
.cursor-CROSSHAIR{
    -fx-cursor: CROSSHAIR;
}
.cursor-DEFAULT{
    -fx-cursor: DEFAULT;
}
.cursor-DISAPPEAR{
    -fx-cursor: DISAPPEAR;
}
.cursor-OPEN_HAND{
    -fx-cursor: OPEN_HAND;
}
.cursro-WAIT{
    -fx-cursor: WAIT;
}
.padding-10px{
    -fx-padding: 10;
}
.padding-20px{
    -fx-padding: 20;
}
.padding-30px{
    -fx-padding: 30;
}
.padding-40px{
    -fx-padding: 40;
}
.padding-50px{
    -fx-padding: 50;
}
/*Table View Styles*/
.table-view{
    -fx-font-family: Arial;
}
.table-view .column-header{
    -fx-pref-height: 27px;
    -fx-alignment: CENTER;
    -fx-background-color: white;
    -fx-border-color: rgba(161, 157, 157, 0.377);
}
.table-view .column-header:hover{
    -fx-background-color: rgb(177, 196, 236);
    -fx-text-inner-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: rgba(0, 191, 255, 0.65);
}
.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color: rgba(66, 115, 223, 0.664);
}
.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: rgba(4, 187, 248, 0.719);
}
/*Navbars*/
/*Nav Bar styles*/
.navbar-dark{
    -fx-pref-height: 35px;
    -fx-pref-width: auto;
    -fx-text-fill: white;
    -fx-background-color: rgb(49, 49, 49);
    -fx-font-family: sans-serif;
    -fx-font-size: 17px;
}
/*Label of the menu-bar without hover*/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: white;
}
/*Background color of the menu-bar on hover*/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
       -fx-background-color: white;
       -fx-effect: dropshadow(gaussian, rgba(0.1, 0.1, 0.2, 0.5), 20, 0.5, 0.0, 0.0);
       -fx-cursor: hand;
}
/*Top Label of de menu-bar*/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: black;
    -fx-translate-y: 2px;
    
}
/*Menu Item*/
.menu-item {
    -fx-font-family: sans-serif;
    -fx-font-size: 17px;
}
.menu-item .label {
    -fx-text-fill: black;
}
/*** The item itself (hovered / focused) ***/    
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: rgba(54, 54, 54, 0.911); 
    -fx-translate-y: -3px;
}
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: white;
}
.menu-item .label:disabled {
    -fx-opacity: 0.5;
}
/*In scenebuilder to make the navbar fill to the window you need to change 
 the constraints to:
 Top: -3
 Left: -8
 Right: 1
 Bottom: 0 or empty
 */
 /*Nav Bar styles*/
.navbar-light{
    -fx-pref-height: 35px;
    -fx-pref-width: auto;
    -fx-text-fill: black;
    -fx-background-color: rgb(254, 255, 256);
    -fx-font-family: sans-serif;
    -fx-font-size: 17px;
}
/*Label of the menu-bar without hover*/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: black;
}
/*Background color of the menu-bar on hover*/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
       -fx-background-color: white;
       -fx-effect: dropshadow(gaussian, rgba(0.1, 0.1, 0.2, 0.5), 20, 0.5, 0.0, 0.0);
       -fx-cursor: hand;
}
/*Top Label of de menu-bar*/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: black;
    -fx-translate-y: 2px;
    
}
/*Menu Item*/
.menu-item {
    -fx-font-family: sans-serif;
    -fx-font-size: 17px;
}
.menu-item .label {
    -fx-text-fill: black;
}
/*** The item itself (hovered / focused) ***/    
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: rgba(54, 54, 54, 0.911); 
    -fx-translate-y: -3px;
}
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: white;
}
.menu-item .label:disabled {
    -fx-opacity: 0.5;
}
/*In scenebuilder to make the navbar fill to the window you need to change 
 the constraints to:
 Top: -3
 Left: -8
 Right: 1
 Bottom: 0 or empty
 */

 /*** BUTTONS ****/
 /* Button of color dark green */
.btn_green{
    -fx-background-radius:30;
    -fx-text-fill: White;
    -fx-font-size: 20;
    -fx-background-color: #196F3D;
    -fx-text-alignment: center;
    -fx-border-radius:30;
}
.btn_green:hover{
    -fx-background-radius:50;
    -fx-background-color: green;
    -fx-box-shadow: 10px 15px black;
    -fx-cursor:HAND;
    -fx-border-color:white;
}

/* Button with gradient blue color */
.btn_Degraded_blue_with_FontSize20{
    -fx-background-color: linear-gradient(to right bottom,#6FC3F7,#1813A2);    
    -fx-text-fill: white;   
    -fx-background-radius:30;
    -fx-font-size: 20;
}
.btn_Degraded_blue_with_FontSize20:hover{
    -fx-opacity:0.7;
    /* -fx-text-fill: #e0e0e0;    */
    -fx-cursor:HAND;
}

/* Button with gradient purpul dark color */
.btn_Degraded_purple_with_FontSize20{
    -fx-background-color: linear-gradient(to bottom right,#5B146F,#FF009C);    
    -fx-text-fill: white;   
    -fx-background-radius:30;
    -fx-border-color: white;
    -fx-border-radius: 30;
    -fx-font-size: 20;
}
.btn_Degraded_purple_with_FontSize20:hover{
    -fx-opacity:0.7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 3, 3);
    -fx-cursor:HAND;
}

/* Button of color dark blue */
.btn_blue{
    -fx-background-color: #154360;
    -fx-text-fill: white;   
    -fx-font-size: 20;
    -fx-border-radius: 30;
    -fx-border-color: white;
    -fx-background-radius:30;
}
.btn_blue:hover{
    -fx-background-color:#21618C;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 3, 3);
}

/* Button of color orangeRed transparent */
.btn_orangeRed_Transparent{
    -fx-background-radius:   10;
    -fx-font-size:           20;
    -fx-background-color:    null;
    -fx-border-radius:       9;
    -fx-border-width:        2;
    -fx-border-color:      orangered;
    -fx-text-fill:         orangered;
    -fx-font-weight:         bold;
    -fx-max-height:          44;
    -fx-min-height:          44;
    -fx-alignment:           TOP_CENTER;
}
.btn_orangeRed_Transparent:hover{
    -fx-text-fill:white;
    -fx-border-color: orangered;
    -fx-border-color: white;
    -fx-background-color: orangered;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 3, 3);
}

/* Button of color white with transition pinck */
.btn_transition_pink{
    -fx-background-radius:   13;    
    -fx-font-size:           20;
    -fx-background-color:    white;
    -fx-border-radius:       8;
    -fx-border-width:        2;
    -fx-border-color:      Black;
    -fx-text-fill:         Black;
    -fx-font-weight:         bold;
    -fx-alignment:           center;
}
.btn_transition_pink:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 3, 3);
    -fx-border-color:white;
    -fx-text-fill:white;
    -fx-background-color: #E91E63;
}

/*** WALPAPERS ***/

/*                       D E G R A D A T I O N                                 */

/* Wallpaper of gradient green*/
.wallpaper_gredient_green{
    -fx-background-position: center;
    -fx-background-color: linear-gradient(to right bottom,#a5f778,#6ef5cc);
}

/* Wallpaper of gradient blue and white */
.wallpaper_gredient_blueWhite{
    -fx-background-position: center;
    -fx-background-color: linear-gradient(to right bottom,#014872,#d7ede1);
}

/* Wallpaper of gradient dark purple */
.wallpaper_gredient_purple{
    -fx-background-position: center;
    -fx-background-color: linear-gradient(to top left,#5b146f,#ff009c);
}

/* Wallpaper of gradient dark */
.wallpaper_gredient_darkGray{
    -fx-background-position: center;
    -fx-background-color: linear-gradient(to top left,#acb3b8,#273748);
}

/* Wallpaper of gradient light pink */
.wallpaper_gredient_lightPink{
    -fx-background-position: center;
    -fx-background-color: linear-gradient(to right bottom,#FFA4ED,#FFDDEC);
}


/*                       L A N D S C A P E                                 */
/* Wallpaper of landScape with starts */
.wallpaper_landScapeStars{
    -fx-min-width: 290;
    -fx-min-height: 191;
    -fx-background-position: center;
    -fx-background-repeat:no-repeat; 
    -fx-background-image: url("https://r1.ilikewallpaper.net/iphone-wallpapers/download/30192/Sky-Aurora-Night-Stars-Wonderful-iphone-wallpaper-ilikewallpaper_com.jpg");
}

/* Wallpaper of landscape with cloud */
.wallpaper_landScape_cloud{
    -fx-max-width:496;
    -fx-max-height:625;
    -fx-min-width: 290;
    -fx-min-height: 191;
    -fx-background-position: center;
    -fx-background-repeat:no-repeat; 
    -fx-background-image: url("https://i.pinimg.com/564x/a1/e4/5a/a1e45a7de845e845d8bf05521da57c71.jpg");
}

/* Wallpaper of landscape with cloud */
.wallpaper_landScape_london{
    -fx-min-width: 290;
    -fx-min-height: 191;
    -fx-background-position: top;
    -fx-background-repeat:no-repeat; 
    -fx-background-image: url("https://data.whicdn.com/images/175219977/original.jpg");
}